[influx2]
url=http://localhost:8086
org=
token=
timeout=10000
verify_ssl=False
bucket_out_cml=

[mariadb]
address=127.0.0.1
port=3308
user=
pass=
timeout=1000
db_metadata=cml_metadata
db_output=telcorain_output

[http]
enable_http_server=True
http_server_address=0.0.0.0
http_server_port=8080