[time]
step=10
output_step=10
start=2024-09-19T03:30:00
end=2024-09-19T12:30:00

[wet_dry]
is_mlp_enabled=False
rolling_hours=1.0
rolling_values=30
wet_dry_deviation=0.8
is_window_centered=True
baseline_samples=5

[waa]
waa_schleiss_val=2.3
waa_schleiss_tau=15.0

[temp]
is_temp_filtered=False
is_temp_compensated=False
correlation_threshold=0.7

[interp]
interp_res=0.01
idw_power=1
idw_near=30
idw_dist=1.5

[raingrids]
min_rain_value=0.1
is_only_overall=False
is_output_total=False
is_external_filter_enabled=False

[limits]
x_min=12.0905
x_max=18.8591
y_min=48.5525
y_max=51.0557

[rendering]
is_crop_enabled=True
geojson_file=czechia.json
map=plain_czechia.png

[cml]
min_length=0.5

[realtime]
is_realtime=True
realtime_timewindow=1d
retention=10080
is_output_write=True
is_history_write=True
is_force_write=True
is_influx_write_skipped=False
is_sql_write_skipped=False

[external_filter]
url=http://192.168.64.166/chmi/data/CZRAD_10m
file_prefix=FILTER_LAYER_
radius=20
pixel_threshold=15
default_return=False
max_history_lookups=3
IMG_X_MIN=11.28
IMG_X_MAX=20.765
IMG_Y_MIN=48.05
IMG_Y_MAX=52.165